repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.5.1
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude_types: [html, svg]
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--enforce-all"]
      - id: check-merge-conflict
      - id: check-symlinks
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      # # - id: check-illegal-windows-names # Will be introduced in v4.7.0
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: no-commit-to-branch

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.4.3
    hooks:
      # Update the uv lockfile
      - id: uv-lock
